@import '../../../styles/vars.scss';

.header_searched-film {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: $bgc_main;
    border-radius: 5px;

    transition: all 150ms linear;

    &:hover {
        background-color: lighten($bgc_main, 20);
    }

    &_left {
        margin-right: 10px;
    }

    span {
        font-size: 12px;
        text-decoration: underline;
    }
}
