@import '../../styles/vars.scss';

.hw {
    position: absolute;
    right: -50px;
    bottom: -10px;
    background-color: darken($pink, 20);
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: $bp390) {
    .hw {
        right: -5px;
    }
}
