@import './nulls.scss';
@import './fonts.scss';
@import './vars.scss';
@import './general.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

  html {
    font-size: 62.5%;

    overflow-x: hidden;
    width: 100%;
    position: fixed;

    font-family: 'Poppins', sans-serif;
    color: $white;
  }
  
  body {
    background-color: $bgc_main;

    width: 100%;
    height: 100%;

    overflow-x: hidden;
    position: fixed;
  }
   
  ._Container {
    height: 100%;

    max-width: $container;

    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  ._Ibg {
    position: relative;
  
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }
  
  #root {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    font-weight: 400;
    @include adapFont(16, 14);
    line-height: 1;
  }

  .content {
    flex: 1 0 auto;
  }

@import './libs/header/header.scss';
@import './libs/header/headerList.scss';
@import './libs/header/headerRight.scss';
@import './libs/header/headerSearch.scss';