// variables

$maxWidthPage: 1920;
$bgc_main: #020510;

$bg: #0A031C;

$pink: #FF2C78;
$white: #fff;
$grey: #D6D6D6;

$container: 1500px;



$bp750: 750px;
$bp600: 600px;
$bp510: 510px;
$bp390: 390px;