// variables

$maxWidthPage: 1920;
$bgc_main: #020510;

$bg: #0a031c;

$pink: #ff2c78;
$white: #fff;
$grey: #d6d6d6;

$container: 1500px;

$height_page: 664px;

$bp750: 750px;
$bp600: 600px;
$bp510: 510px;
$bp390: 390px;
