@import '../../vars.scss';

.main_categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > *:not(:last-child) {
        margin-right: 15px;
    }
}

@media screen and (max-width: $bp510) {
    .main_categories {
        & > *:not(:last-child) {
            margin-right: 0px;
        }
    }
}