@import '../../../styles/vars.scss';

.header_often-searched {
    padding: 60px 0;
}

._Container--header_often-searched {
    height: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 1135px;
}

.often-searched_title {
    font-size: 20px;
    font-weight: 400;
}

.header_often-searhed_body {
    display: flex;
}

.often-searched_left {
    width: 50%;
}
.often-searched_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 470px;
        height: 250px;
    }
}

.often-searched_images {
    display: flex;
    flex-wrap: wrap;

    & > * {
        margin: 15px 0;
        margin-right: 50px;
    }
}

.often-searched_image {
    img {
        height: 110px;
        width: 75px;
        border-radius: 3px;

        transition: all 150ms linear;
        &:hover {
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 1050px) {
    .header_often-searched {
        padding: 30px 0;
    }
    .header_often-searhed_body {
        flex-direction: column;
    }
    .often-searched_left {
        width: 100%;
    }
    .often-searched_images {
        justify-content: center;
        & > * {
            margin: 15px 22px;
        }
    }
    .often-searched_right {
        width: 100%;
    }
}

@media screen and (max-width: $bp510) {
    .often-searched_right {
        display: none;
    }
    .often-searched_images {
        justify-content: center;
        & > * {
            margin: 8px 5px;
        }
    }
}
