@import '../../../styles/vars.scss';


  .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .menu {
    display: none;
    width: 28px;
    height: 28px;
    background: $pink;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .burger {
    z-index: 10;
    cursor: pointer;
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 18px;
    height: 18px;
    position: relative;
  }

  .burger::before,
  .burger::after {
    content: '';
    left: calc(50% - 9px);
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background: $white;
  }

  .burger::before {
    top: 0;
    box-shadow: 0 8px 0 $white;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }

  .burger-checkbox:checked + .burger::before {
    top: 8px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }

  .burger-checkbox:checked + .burger::after {
    bottom: 8px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  
  .menu-list {
    top: 20px;
    right: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: $bgc_main;
    list-style-type: none;
    transform: translateX(100%);
    transition: .3s;
    width: 200px;
    z-index: 1;
  }
  
  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }

@media screen and (max-width: $bp600) {
    .menu {
        display: flex;
    }
    .burger {
        display: block;
    }
}